body{
  
/*   width: 100%; /* адаптация */
 /* height: 100%;  адаптация */
    overflow-x: hidden;
    background:linear-gradient(#000000, #410978);
}
header{
  background: #1f2129;
  width: 100vw; /* чтобы шапка на любых устройствах была во всю ширину */
  padding: 0.5vw 0vw 0.5vw 0.3vw; /* рамки шапки */
  white-space: nowrap;  /* пробелы не переносятся при уменьшении окна браузера */
    z-index: 2; /* выше всего на сайте */
  /*height: 150px;
  white-space: nowrap;*/
}
.logo{
  display: flex;
  align-items:center;
}
.logo2-img{
  width: 600px;
  height: 100px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.lol {
  display: flex;
  margin-left: +700px;
}

.phone{
  color: white;
  font-size:25;
  font-family: Century Gothic, sans-serif;
  margin-right: 30px;
}
.pbutton{
  max-height:50;
}
.call1{
  color: white;
  font-size: 25;
  font-family: Century Gothic, sans-serif;
  margin-left: 30px;
}

h3{
  color: white;
  font-family: Century Gothic, sans-serif;
  text-align: center;
  margin-top: 40px;
  font-size: 40;
  margin-bottom: 150px;
  text-shadow: 1px 1px 2px black, 0 0 1em  #ECE8F0;
}
h2{
 color: white;
  font-family: Century Gothic, sans-serif;
  text-align: center;
  text-shadow: 1px 1px 2px black, 0 0 1em  #ECE8F0; /* Параметры тени */
  margin-top: 100px;
  font-size: 40;
  margin-bottom: 70px;
}
  
.wrapper{
  max-width: 1200px;
  margin: 0 auto;
  display: block;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top: 250px;
}
.content{
  display: block;

}

/*h4{
  color: black;
  font-family: Century Gothic, sans-serif;
  text-align: center;
  margin-top: 40px;
  font-size: 40;
  margin-bottom: 20px;
}*/

.content img{
  max-height: 450px;
  max-width: 200px;
  margin-right: 50px;

} 

.products{
  display: block;
  height: 250px;
  width: 250px;
  margin: 0 auto;

}

.infoBlocks{
  display: flex;
  max-width: 10600px;
  min-width: 450px;
  padding: 20px;
  text-align: justify;
  margin-bottom: 100px;
    border: solid 2px;
    border-radius: 20px;
    background: #5B0CA8;
    align-items: center;
}
  h1{
  color: white;
  font-family: Century Gothic, sans-serif;
  margin-bottom: 60px;
}
p{
color: white;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  text-align: center;

}


.aboutUs{
display: flex;
    width: 1000;
    max-width: 700px;
    min-width: 450px;
    padding: 20px;
    /* margin-left: 570px; */
    /*border: solid 2px;
    border-radius: 20px;*/
    text-align: justify;
/*    background: linear-gradient(#48D1CC, #9400D3);*/
    flex-direction: column;
}

.test{
  display: flex;
    align-items: center;
    flex-direction: column;
}

.consultants{
 display: flex;
    width: 1000;
  max-width: 600px;
  min-width: 450px;
  padding: 20px;
  margin-top: 10px;
 /* margin-left: 100px;*/
}

.consultants img{
    max-width: 550px;
    min-width: 150px;
margin-right: 30px;
}

/*.team{
   display: flex;
    align-items: center;
    flex-direction: column;
}*/

 #navbar ul{
        display: none;
        background-color: #b6b4b8;
        position: absolute;
        top: 100%;
      }
      #navbar li:hover ul { display: block; }
      #navbar, #navbar ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
      }
      #navbar {
        height: 30px;
        background-color: #666;
        padding-left: 25px;
        min-width: 470px;
      }
      #navbar li {
        float: left;
        position: relative;
        height: 100%;
      }
      #navbar li a {
        display: block;
        padding: 0px;
        width: 370px;
        color: #fff;
        text-decoration: none;
        text-align: center;
        font-size: 20;
        font-family: Century Gothic, sans-serif;
      }
      #navbar ul li {
       float: none; 
     }
      #navbar li:hover {
       background-color: #78747d; 
     }
      #navbar ul li:hover { 
        background-color: #666; 
      }

      .H1Products{
          text-align: center;
          margin: 80 0 80 40;
      }

       .products{
  border-radius: 20px;
        float: none;
        height: 250px;
  width: 250px;
      }

      .productsNum{
        transition: 1s;
      }

      .blocks{
        display: flex;
        margin-bottom: 100px;
      }

       .productsNum:hover{
        transform: scale(1.1);
      }

.information{
  display: block;
    max-width: 600px;
  min-width: 450px;
  padding: 20px;
  margin-left: 200px;
}

.backButton{
  position: fixed;
  right: 50px;
  bottom: 50px;
  opacity: 0.5;

}

.backButton:hover {
opacity: 1;
}

.backButton img{
  max-height: 100px;
  min-width: 20px;
}

  
      .carousel-wrapper{
  height:263px;
  position:relative;
  width:752px;
  margin:0 auto;
  border: solid 2px white;
  margin-top: 48px;


}

.carousel-item{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:25px 50px;
  opacity:0;
  transition: all 0.5s ease-in-out;
  margin: 70px;
}

.arrow{
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  background: plum;
}

.arrow-prev{
  left:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(135deg);
}

.arrow-next{
    right:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(-45deg);
  }


/*Select every element*/
[id^="item"] {
    display: none;
  }

.item-1 {
    z-index: 2;
    opacity: 1;
  }

*:target ~ .item-1 {
    opacity: 0;
  }

#item-1:target ~ .item-1 {
    opacity: 1;
  }

#item-2:target ~ .item-2, #item-3:target ~ .item-3, #item-4:target ~ .item-4  {
    z-index: 3;
    opacity: 1;
  }


/* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --black: #3a3a3a;
  --white: #fff;
  --green: #49b293;
}

* {
  margin: 0;
  padding: 0;
}

/*img {
  display: block;
  max-width: 100%;
  height: auto;
}*/

ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  color: var(--black);
  font: 1rem/1.3 sans-serif;
}

.author-archive {
  padding: 1.5rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

h1 a {
  transition: all 0.1s;
}

h1 a:hover {
  background: var(--green);
  color: var(--white);
}

input[type="radio"] {
  position: absolute;
  left: -9999px;
}


/* FILTERS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.filters {
  text-align: center;
  margin-bottom: 2rem;
}

.filters * {
  display: inline-block;
}

.filters label {
  padding: 0.5rem 1rem;
  margin-bottom: 0.25rem;
  border-radius: 2rem;
  min-width: 50px;
  line-height: normal;
  cursor: pointer;
  transition: all 0.1s;
}

.filters label:hover {
  background: var(--green);
  color: var(--white);
}


/* FILTERED ELEMENTS (POSTS)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.posts {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
}

.posts .post {
  background: #5B0CA8;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.posts .post-title {
  font-size: 1.3rem;
}

.posts .post-title:hover {
  text-decoration: underline;
}

.posts figcaption {
  padding: 1rem;
}

.posts .post-categories {
  margin-bottom: 0.75rem;
  font-size: 0.75rem;
}

.posts .post-categories * {
  display: inline-block;
}

.posts .post-categories li {
  margin-bottom: 0.2rem;
}

.posts .post-categories a {
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  border: 1px solid;
  line-height: normal;
  transition: all 0.1s;
}

.posts .post-categories a:hover {
  background: var(--green);
  color: var(--white);
}


/* FILTERING RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[value="All"]:checked ~ .filters [for="All"],
[value="Samokat"]:checked ~ .filters [for="Samokat"],
[value="Sigvey"]:checked ~ .filters [for="Sigvey"],
[value="Giro"]:checked ~ .filters [for="Giro"]
/*[value="WordPress"]:checked ~ .filters [for="WordPress"],
[value="Slider"]:checked ~ .filters [for="Slider"],
[value="fullPage.js"]:checked ~ .filters [for="fullPage.js"]*/ {
  background: var(--green);
  color: var(--white);
}

[value="All"]:checked ~ .posts [data-category] {
  display: block;
}

[value="Samokat"]:checked ~ .posts .post:not([data-category~="Samokat"]),
[value="Sigvey"]:checked ~ .posts .post:not([data-category~="Sigvey"]),
[value="Giro"]:checked ~ .posts .post:not([data-category~="Giro"])
/*[value="WordPress"]:checked ~ .posts .post:not([data-category~="WordPress"]),
[value="Slider"]:checked ~ .posts .post:not([data-category~="Slider"]),
[value="fullPage.js"]:checked ~ .posts .post:not([data-category~="fullPage.js"])*/ {
  display: none;
}


/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
  font-size: 1rem;
  padding: 0 1.5rem;
  text-align: right;
}

footer span {
  color: #e31b23;
}


/* MQ
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 900px) {
  .posts {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 650px) {
  html {
    font-size: 14px;
  }

  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}


/*меняется цвет у кнопки*/
/*button {
  border: none;
  background: #3a7999;
  color: #f2f2f2;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease; 
}

button:hover {
  background: rgba(0,0,0,0);
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}*/


.theme-button{
  position: absolute;
  right: 5px;
  top: 5px;
  display: inline-block;
  padding: 10px 25px;
  cursor: pointer;
  color: #f4f4f4;
  background: #444;
}

.theme-button:hover{
  background: #555;
}

.lol4{
  margin-top: 0;
  margin-bottom: 20px;
}

.lolp{
  margin-bottom: 20px;
}

.lolh2{
  margin-bottom: 20px;
  margin-top: 0;
}


/*body, html{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
  font-size: 16px;
  background: #858585;
  color: #fff;
}

.wrapper{
  width: 100%;
}

.header{
  background: #373737;
  color: #f4f4f4;
}

.header_content{
  padding: 5px;
}

.nav_item{
  display: inline-block;
  vertical-align: middle;
  padding: 15px 25px;
  margin: 2px;
  cursor: pointer;
  text-decoration: none;
  color: #f4f4f4;
  background: #373737;
}

.nav_item:hover, .nav_item_active{
  background: #444;
}

.main_content{
  width: 80%;
  margin: 0 auto;
  color: #fff;
}

.theme-button{
  position: absolute;
  right: 5px;
  top: 5px;
  display: inline-block;
  padding: 10px 25px;
  cursor: pointer;
  color: #f4f4f4;
  background: #4f7faf;
}

.theme-button:hover{
  background: #6f9fcf;
}
*/